:root {
  --base-radius: 10px;
  --font-2nd: #6e7381;
  --block-bg-main: #fff;
}

body {
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
}

.exchange-container {
  padding: 20px;
  background: url(../assets/images/BG.png) no-repeat center / cover
}

.mini-wallet {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0 20px;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  padding: 14px 24px 14px 16px;
  background: var(--block-bg-main);
  border-radius: var(--base-radius);

  &__icon {
    width: 90px;
    height: 90px;
    border-radius: 20px;
  }

  &__content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__label {
    font-size: 24px;
    line-height: 1.5;
    color: var(--font-2nd);
  }

  &__address {
    font-size: 28px;
    line-height: 1.5;
  }
}

.main-content {
  padding: 32px 50px;
  background: var(--block-bg-main);
  margin-top: 20px;
  border-radius: var(--base-radius);;

  &__header {
    display: flex;
    align-items: baseline;

    .deposit-amount {
      margin-right: auto;
    }

    .target-amount {
      margin: 0 18px;
    }

    > label {
      font-size: 22px;
      color: var(--font-2nd);
      &:last-child {
        margin-right: 30px;
      }
    }

    > strong {
      font-size: 30px;
    }
  }

  &__fill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;

    &__label {
      font-size: 20px;
      color: var(--font-2nd);
    }

    &__input {
      width: 540px;
      border-radius: var(--base-radius);
      overflow: hidden;
      margin-top: 12px;
      > input {
        all: unset;
        width: 540px;
        height: 65px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        background: #e9eff5;
      }
    }
  }
}


.mini-wallet-button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 70px;
  background-color: #34bab6;
  color: #fff;
  font-size: 28px;
  border-radius: 15px;
}

.slider-label {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: var(--font-2nd);
}

.slider-wrapper {
  display: grid;
  margin-top: 36px;
  grid-template-columns: 1fr auto;
  grid-gap: 10px 26px;
  align-items: center;

  #slider {
    grid-row-start: 2;
  }

  .max-button {
    all: unset;
    grid-row-start: 2;
    height: 40px;
    line-height: 40px;
    background: #398ecf;
    padding: 0 22px;
    color: #fff;
    font-size: 26px;
    border-radius: 40px;
  }
}

.submit-button {
  text-align: center;
  margin-top: 42px;
  > button {
    all: unset;
    width: 241px;
    height: 61px;
    line-height: 61px;
    background-color: #0b75ff;
    border-radius: 10px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
  }
}

