* {
  margin: 0;
  vertical-align: middle;
}
.selfSelect {
  .selectList {
    font-family: MicrosoftYaHei;
    font-size: 22.2px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 28.3px;
    letter-spacing: 0px;
    color: #868d9a;
    //margin-top: -45px;
    z-index: 1;
    position: relative;
    //margin-bottom: 40px;
    i {
      vertical-align: baseline;
      margin-left: 3.5px;
      margin-right: 10px;
    }
    .select {
      display: block;
      float: right;
    }
    > span {
      padding-bottom: 40px;
      &.active {
        color: #0b75ff;
        :deep(.van-icon) {
          transform: rotate(180deg);
          transition: transform 0.3s;
        }
      }
    }
  }
  .O_wrap {
    height: calc(100vh - 215px - 75px);
    // padding-bottom: 85px;
    :deep(.van-pull-refresh) {
      overflow: auto;
      width: 100%;
    }
  }
  .buyList {
    padding: 20px 15px;
    width: 708.3px;
    height: 194.4px;
    background-color: #ffffff;
    border-radius: 13.9px;
    margin-bottom: 20px;
    .avatar {
      margin-bottom: 25px;
      vertical-align: top;
      width: 67.4px;
      height: 67.4px;
      border-radius: 13.9px;
      overflow: hidden;
    }
    .userName {
      width: 120.9px;
      display: inline-block;
      font-family: MicrosoftYaHei;
      font-size: 22.2px;
      font-weight: 400;
      font-stretch: normal;
      line-height: 26.7px;
      letter-spacing: 0px;
      color: #13161b;
      margin-left: 6px;
      vertical-align: top;
      margin-top: 19px;
    }
    .usert {
      font-family: MicrosoftYaHei;
      font-size: 20.8px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 30.8px;
      letter-spacing: 0px;
      color: #868d9a;
    }
    .contentText {
      margin-top: 15px;
      font-family: MicrosoftYaHei;
      font-size: 22.2px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 25px;
      letter-spacing: 0px;
      color: #5cc300;
      text-align: center;
      .mixinNum {
        // display: inline-block;
        padding: 0 20px;
        color: #333333;
        font-size: 22.2px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: center;
      }
    }
    .credit {
      margin-top: 56.3px;
      width: 32.6px;
      height: 25.7px;
    }
    .WeChatPay {
      margin-top: 56.3px;
      width: 32.6px;
      height: 29.2px;
    }
    .alipay {
      margin-top: 56.3px;
      width: 27.8px;
      height: 27.1px;
    }
    .amountMoney {
      margin-top: 10px;
      font-family: MicrosoftYaHei-Bold;
      font-size: 27.8px;
      font-weight: 600;
      line-height: 33.3px;
      letter-spacing: 0px;
      color: #13161b;
      text-align: center;
      span {
        font-family: MicrosoftYaHei;
        font-size: 12.4px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 12.3px;
        letter-spacing: 0px;
        color: #868d9a;
        scale: 0.78;
        display: inline-block;
      }
    }
    .buyButton {
      display: block;
      margin: 0 auto;
      margin-top: 43.8px;
      width: 166.7px;
      height: 52.8px;
      background-color: #0b75ff;
      border-radius: 6.9px;
      font-family: MicrosoftYaHei;
      font-size: 27.8px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 21.7px;
      letter-spacing: 0px;
      color: #ffffff;
    }
  }
  :deep(.van-action-sheet) {
    max-height: 1100.7px;
  }
  .filterContent {
    padding: 0 40px 100px;
    background-color: #ffffff;
    border-radius: 20.8px 20.8px 0px 0px;
    .Ftitle {
      font-family: MicrosoftYaHei;
      font-size: 27.8px;
      font-weight: 400;
      font-stretch: normal;
      line-height: 33.3px;
      letter-spacing: 0px;
      color: #13161b;
      padding: 20px 0;
    }
    .paymate {
      .van-col {
        width: 150px;
        height: 106.9px;
        background-color: #ebf1f6;
        border-radius: 6.9px;
        text-align: center;
        .payAll {
          line-height: 106.9px;
          font-family: MicrosoftYaHei;
          font-size: 25px;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 0px;
          color: #333333;
        }
        p {
          font-family: MicrosoftYaHei;
          font-size: 25px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 30.3px;
          letter-spacing: 0px;
          color: #787f8c;
        }
        .credit {
          margin: 10px auto 13px;
          display: block;
          width: 62.5px;
          height: 48.6px;
        }
        .alipay {
          margin: 10px auto 8px;
          width: 50px;
          height: 50px;
        }
        .WeChatPay {
          margin: 8px auto 5px;
          width: 61.8px;
          height: 54.2px;
        }
      }
      .van-col.paymateAction {
        background-color: #ffffff;
        border-radius: 6.9px;
        border: solid 2.8px #0b75ff;
      }
    }
    .pays {
      text-align: center;
      .van-col {
        width: 150px;
        height: 106.9px;
        background-color: #ebf1f6;
        border-radius: 6.9px;
        font-family: MicrosoftYaHei;
        font-size: 25px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 106.9px;
        letter-spacing: 0px;
        color: #787f8c;
        margin-right: 22.2px;
      }
      .van-col.paysAction {
        background-color: #ffffff;
        border-radius: 6.9px;
        border: solid 2.8px #0b75ff;
        font-family: MicrosoftYaHei;
        font-size: 25px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #333333;
      }
    }
    .amount {
      text-align: center;
      .van-col {
        margin-bottom: 25px;
        width: 205.6px;
        height: 106.9px;
        background-color: #ebf1f6;
        border-radius: 6.9px;
        font-family: MicrosoftYaHei;
        font-size: 25px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 106.9px;
        letter-spacing: 0px;
        color: #787f8c;
      }
      .van-col.amountAction {
        background-color: #ffffff;
        border-radius: 6.9px;
        border: solid 2.8px #0b75ff;
        color: #333333;
      }
    }
    .reset {
      margin-top: 40px;
      height: 79.9px;
      background-color: #828282;
      border-radius: 6.9px;
      font-family: MicrosoftYaHei;
      font-size: 30.6px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 21.7px;
      letter-spacing: 0px;
      color: #ffffff;
      border-color: #828282;
    }
    .Confirm {
      margin-top: 40px;
      height: 79.9px;
      background-color: #0b75ff;
      border-radius: 6.9px;
      font-family: MicrosoftYaHei;
      font-size: 30.6px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 21.7px;
      letter-spacing: 0px;
      color: #ffffff;
    }
  }
  :deep(.van-action-sheet__header) {
    height: 90px;
    font-family: MicrosoftYaHei-Bold;
    font-size: 29.2px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 90px;
    letter-spacing: 0px;
    color: #13161b;
    .van-action-sheet__close {
      color: #230503;
      font-size: 29.2px;
      line-height: 90px;
    }
  }
  // .paymate_p {
  //   display: block;
  // }
  // .payBox {
  //   float: left;
  //   margin-right: 20px;
  // }
  // .payBox:nth-child(3n) {
  //   margin-right: 0;
  // }
}
