@import '@/assets/styles/sprite-home.scss';
.cionBuy {
  .van-hairline--bottom:after {
    border: 0px;
    display: none;
  }
  .blue {
    width: 100%;
    height: 140px;
    background: #0b75ff;
    margin-top: -2px;
    z-index: 5;
    position: relative;
  }
  .content {
    width: 100%;
    height: auto;
    background: #ebf1f6;
    padding: 0 21px;
    .amount {
      width: 708px;
      height: auto;
      background-color: #ffffff;
      border-radius: 14px;
      margin-top: -140px;
      position: relative;
      z-index: 6;
      padding-top: 84px;
      text-align: center;
      .NumText {
        font-family: MicrosoftYaHei;
        font-size: 26px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 33px;
        letter-spacing: 0px;
        color: #787f8c;
        text-align: center;
      }
      h4 {
        margin-top: 35px;
        font-family: MicrosoftYaHei-Bold;
        font-size: 49px;
        font-weight: 600;
        font-stretch: normal;
        line-height: 33px;
        letter-spacing: 0px;
        color: #13161b;
        span {
          font-family: MicrosoftYaHei;
          font-size: 49px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 33px;
          letter-spacing: 0px;
          color: #868d9a;
        }
      }
    }
    .sellNum {
      margin-top: 18px;
      width: 708px;
      height: auto;
      background-color: #ffffff;
      border-radius: 14px;
      font-size: 28px;
      padding: 19px;
      .numTitle {
        font-family: MicrosoftYaHei;
        font-size: 28px;
        font-weight: 400;
        font-stretch: normal;
        line-height: 33px;
        letter-spacing: 0px;
        color: #13161b;
        margin: 10px 0 25px;
      }
      :deep(.van-field) {
        padding: 0 20px;
        height: 76px;
        background-color: #ebf1f6;
        border-radius: 7px;
        .van-field__control {
          line-height: 76px;
          font-family: MicrosoftYaHei;
          font-size: 35px;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 0px;
          color: #13161b;
        }
        .van-field__button {
          font-family: MicrosoftYaHei;
          font-size: 26px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 38px;
          letter-spacing: 0px;
          color: #0b75ff;
        }
      }
      .caiText {
        padding: 25px 0;
        font-family: MicrosoftYaHei;
        font-size: 28px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 33px;
        letter-spacing: 0px;
        color: #13161b;
      }
      :deep(.van-radio-group) {
        height: 40px;
        margin-bottom: 43px;
        .van-radio {
          margin-right: 5px;
        }
        .van-popover__wrapper {
          margin-right: 150px;
        }
        .van-radio__icon {
          width: 29px;
          height: 29px;
          background-color: #fff;
          border-radius: 15px;
          border: solid 5px #0b75ff;
          .van-radio__icon--dot__icon {
            width: calc(100% - 5px);
            height: calc(100% - 5px);
          }
        }
        .van-radio__label {
          font-family: MicrosoftYaHei;
          font-size: 25px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 40px;
          letter-spacing: 0px;
          color: #13161b;
        }
      }
      .payText {
        margin-top: 40px;
        font-family: MicrosoftYaHei;
        font-size: 28px;
        font-weight: 400;
        font-stretch: normal;
        line-height: 33px;
        letter-spacing: 0px;
        color: #13161b;
        margin-bottom: 45px;
      }
      .paypic {
        .payBox {
          position: relative;
          width: 205.6px;
          height: 106.9px;
          background-color: #ebf1f6;
          border-radius: 6.9px;

          //   margin: 0 auto;

          font-family: MicrosoftYaHei;
          font-size: 25px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 30.3px;
          letter-spacing: 0px;
          color: #333333;
          text-align: center;
          :deep(.Spic) {
            width: 62.5px;
            height: 48.6px;
            margin: 10px auto;
            display: block;
          }
          .alipay {
            width: 52.5px;
            height: 52.5px;
          }
          .WeChatPay {
            margin: 10px auto 5.6px;
            width: 61.8px;
            height: 54.2px;
          }
          .hotPic {
            z-index: 10;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 92%;
            height: 35px;
            background: #f23b1d;
            border-radius: 18px;
            :deep(.icon_huo) {
              // height: 100%;
              img {
                width: auto;
                height: 22px;
                margin: 0;
              }
              padding: 0 8px;
            }
            span {
              font-family: MicrosoftYaHei;
              font-size: 20px;
              line-height: 35px;
              letter-spacing: 0px;
              color: #fff;
              text-align: center;
              margin: 0 auto;
            }
          }
          position: relative;
        }
        .payBox {
          margin-right: 20px;
        }
        .payBox:nth-child(3n) {
          margin-right: 0;
        }
        .payBox.active {
          background-color: #ffffff;
          border: solid 2.8px #0b75ff;
        }
        .payBox.active::after {
          content: "";
          display: block;
          width: 36px;
          height: 36px;
          //   background: #d6dce8;
          background-image: url("@/assets/images/common/dui.png");
          background-size: cover;
          background-position: 0px 0px;
          position: absolute;
          top: -1px;
          right: 0;
        }
      }
      .sellButton {
        margin-top: 52px;
        width: 668.8px;
        height: 79.9px;
        background-color: #0b75ff;
        border-radius: 6.9px;

        line-height: 79.9px;
        font-family: MicrosoftYaHei;
        font-size: 30.6px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #ffffff;
      }
    }
  }
  :deep(.van-popup) {
    .van-dialog__header {
      line-height: 50px;
    }
    .van-password-input__security {
      margin-top: 50px;
      height: 80px;
    }
  }
  .van-number-keyboard {
    z-index: 9999;
    :deep(.van-key) {
      height: 85px;
    }
  }
  .top_sellNum {
    margin-top: 20px;
    padding: 20px 0;
    line-height: 50.9px;
    font-family: MicrosoftYaHei;
    font-size: 30.6px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #7a818e;
    text-align: center;
    .left,.right{
      width: 50%;
    }
    i{
      font-size: 35px;
    }
  }
}

.confirm-dialog {

  &__content {
    text-align: center;
    margin-top: 60px;
    h4 {
      margin-top: 35px;
      font-family: MicrosoftYaHei-Bold;
      font-size: 49px;
      font-weight: 600;
      font-stretch: normal;
      line-height: 33px;
      letter-spacing: 0px;
      color: #13161b;
      span {
        font-family: MicrosoftYaHei;
        font-size: 49px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 33px;
        letter-spacing: 0px;
        color: #868d9a;
      }
    }

  }

  &__form {
    padding: 20px 40px;
    &-item {
      text-align: left;
    }
    &-btn {
      margin-top: 30px;
    }
    label {
      font-size: 24px;
      text-align: left;
    }

    :deep(.van-field) {
      padding: 0 0.26667rem;
      height: 1.01333rem;
      background-color: #ebf1f6;
      border-radius: 0.09333rem;
      margin-top: 30px;
      .van-field__control {
        line-height: 76px;
        font-family: MicrosoftYaHei;
        font-size: 35px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #13161b;
      }
    }
  }

  .icon-close {
    position: absolute;
    right: 40px;
    top: 24px;
  }

}

:deep(.dialog-deal) {
  width: 708px;
  height: auto;
  padding: 40px;
  .van-dialog__header {
    padding: 0;
    font-size: 29px;
    color: #13161b;
  }
  .van-dialog__content {
    margin: 33px 0 35px 0;
    font-size: 25px;
    color: #787f8c;
    text-align: justify;
  }

  .van-dialog__footer {
    padding: 0;
  }

  .van-dialog__confirm,
  .btn-confirm {
    width: 100%;
    height: 80px;
    font-size: 31px;
    background: #0b75ff;
    color: #fff;
    border: 0;
    border-radius: 8px;
  }

  .dialog-radio-controler {
    margin-top: 20px;

    .radio {
      margin-right: 10px;
    }

    .radio-uncheck {
      width: 35px;
      height: 35px;
      border: 1px solid #868d9a;
      border-radius: 50%;
    }
    .radio-text {
      font-size: 25px;
      color: #13161b;
    }
  }
  .icon-close {
    position: absolute;
    right: 40px;
    top: 24px;
  }

  img {
    width: 100%;

    &.verifi-id {
      width: 260px;
    }

    &.add-card {
      width: 295px;
    }
  }
  .content {
    width: 380px;
    margin-top: 24px;
    background: transparent;
  }
}
