:root {
  --base-radius: 10px;
  --font-2nd: #6e7381;
  --font-3rd: #787f8c;
  --block-bg-main: #fff;
}

body {
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
}

.deposit-container {
  padding: 20px;
  background: url(../assets/images/BG.png) no-repeat center / cover
}

.mini-wallet {
  display: flex;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  padding: 15px 24px 15px 16px;
  background: var(--block-bg-main);
  border-radius: var(--base-radius);

  &__icon {
    width: 90px;
    height: 90px;
    border-radius: 20px;
  }

  &__middle {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 99px;
  }

  &__balance {
    display: flex;
    align-items: baseline;

    > strong {
      font-size: 40px;
      line-height: 43px;
      color: #13161b;
    }

    > span {
      font-size: 30px;
      line-height: 43px;
      color: #868d9a;
      margin-left: 11px;
    }
  }

  &__description {
    font-size: 17px;
    color: var(--font-3rd);
    letter-spacing: 0;
    word-break: break-all;
  }
}

.mini-wallet-button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 211px;
  height: 70px;
  background-color: #34bab6;
  color: #fff;
  font-size: 28px;
  border-radius: 15px;
  overflow: hidden;

  &--gold {
    position: relative;
    background-color: #f7e231;
    animation-name: gold-button;
    color: #6f400a;
    z-index: 0;
    &:hover::before {
      transform: translateX(100%);
    }
    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.7), transparent);
      transform: translateX(100%);
      animation: ambi 3s linear infinite;
    }
  }
}

@keyframes ambi {
  0% ,80% {
    transform: translateX(100%);
  }
  90%, 100%{
    transform: translateX(-100%);
  }
}

@keyframes gold-button {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -20px;
  }
}

.main-content {
  padding: 20px;
  background: var(--block-bg-main);
  margin-top: 20px;
  border-radius: var(--base-radius);
}

.amount-tab {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px 16px;
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 5px;
    background-color: #ebf1f6;
    border: solid 2PX transparent;
    font-size: 26.66px;
    color: var(--font-3rd);
    overflow: hidden;
    transition: background-color, border .2s linear;

    &::before {
      content: "";
      position: absolute;
      right: -17.67px;
      top: -17.67px;
      width: 35.34px;
      height: 35.34px;
      background-color: #0b75ff;
      transform: rotate(45deg);
      opacity: 0;
      transition: opacity .2s linear;
    }

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      right: 3px;
      width: 8px;
      height: 3px;
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      opacity: 0;
      transition: opacity .2s linear;
    }

    .currency-tab {
      align-items: baseline;
      pointer-events: none;
      > span {
        font-size: 20px;
      }
    }

    &--active {
      background-color: #ffffff;
      border-color: #0b75ff;

      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 1;
      }
    }
  }
}


.amount-field {
  display: flex;
  align-items: center;
  margin-top: 40px;

  &__label {
    font-size: 30px;
    color: var(--font-2nd);
    margin-right: 20px;
  }

  &__input {
    flex: 1;
    border-radius: var(--base-radius);
    overflow: hidden;
    background: #e9eff5;
    padding: 0 20px;
    > input {
      all: unset;
      width: 100%;
      height: 65px;
      font-size: 17px;
      font-weight: bold;
    }
  }
}

.real-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 37px;

  > label {
    font-size: 30px;
    font-weight: normal;
    color: var(--font-2nd);
    margin-right: 21px;
  }

  > strong {
    font-size: 40px;
    font-weight: normal;
    color: #13161b;
    margin-right: 13px;
  }

  &__tutorial {
    position: relative;
    font-size:0;

    > img {
      width: 28px;
    }

    &:hover {
      .real-amount__tutorial__tooltip {
        opacity: 1;
      }
    }

    &__tooltip {
      position: absolute;
      width: 308px;
      bottom: 60px;
      left: 50%;
      background: #fff;
      padding: 23px 24px;
      transform: translateX(-50%);
      font-size: 23px;
      color: #0b75ff;
      border-radius: 15px;
      box-shadow: 0 3px 20px 0 rgba(4, 0, 0, 0.25);
      opacity: 0;
      transition: opacity .2s linear;
      pointer-events: none;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -13.6px;
        width: 27.20px;
        height: 27.20px;
        background: #fff;
        transform: translateX(-50%) scaleX(.8) rotate(45deg) ;
      }
    }
  }
}

.submit-button {
  text-align: center;
  margin-top: 38px;
  > button {
    all: unset;
    width: 241px;
    height: 61px;
    line-height: 61px;
    background-color: #0b75ff;
    border-radius: 10px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
  }
}