.activeList_navbar {
  background: url("../../assets/images/activity/activeListbg.png");
  background-size: cover;
  :deep(.van-nav-bar__title) {
    color: #fff;
  }
}
.activeList {
  background: url("../../assets/images/activity/activeListbg.png");
  background-size: cover;
  background-position: 0 calc(env(safe-area-inset-top) - 1.33333rem);
  padding: 20px;
  .listCard {
    margin-bottom: 10px;
    img {
      width: 100%;
      height: 280px;
    }
  }
}
