@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
*::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

body {
  font-size: 12px;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  touch-action: auto;
  background-color: #ebeef4;
}
#app {
  height: 100%;
}
.hairline-border {
  position: relative;
}
.hairline-border::after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 1px solid #d6dce8 !important;
  transform: scale(0.5);
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:root {
  --sprite-computed-factor: 0.7;
  --sprite-home-background-size: calc(108px * 7 / 10) calc(730px * 7 / 10);
  --sprite-point-background-size: calc(298px * 10 / 14) calc(622px * 10 / 14);
  --sprite-mine-background-size: calc(2640px * 7 / 10) calc(150px * 7 / 10);
}

.session-expired-toast {
  background: #fff!important;
  color: #b0b2b8!important;
  width: 645px!important;
  .van-toast__text {
    margin-top: 40px!important;
  }
}